<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a ui-sref="movies">
                    Movie Theater
                </a>
            </li>
            <li>
                <a ui-sref="movies">Choose Movies</a>
            </li>
            <li>
                <a href="#">Controller Halls</a>
            </li>
            <li>
                <a href="#">Controller Movies</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <span ui-view class="view-frame"></span>
</div>