<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a ui-sref="movies">
                    Movie Theater
                </a>
            </li>
            <li>
                <a ui-sref="movies">Controller Movies</a>
            </li>
            <li>
                <a ui-sref="halls">Controller Halls</a>
            </li>
            <li>
                <a ui-sref="movies-halls">Controller Movies Halls</a>
            </li>
            <li ng-if="!user">
                <form ng-submit="login(userData)">
                    <input class="form-control" type="text" placeholder="Username..." ng-model="userData.name">
                    <input class="form-control" type="text" placeholder="Password..." ng-model="userData.password">
                    <input class="form-control" type="submit" value="Login">
                </form>
            </li>
            <li ng-if="user" class="user_wapper">
                <h3>{{user.name}}</h3>
                <div class="text-right padding user_wapper pointer-cursor" ng-click="logout()">Logout</div>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <span ui-view class="view-frame"></span>
</div>