<div class="container-fluid" ng-if="!selectMovie">
    <div class="row">
        <div class="col-lg-12 screen">
            Screen
        </div>
    </div>
    <div class="row less_height">
            <div class="chairs" ng-repeat="chair in chairs" ng-style="{'width':'{{100/movieHall.hall.row_chairs}}%','height':'{{100/movieHall.hall.row_total}}%'}" >
                <div class="chair_inner pointer-cursor" ng-click="chair.taken || ticket(chair,$index)" ng-class="{'taken':chair.taken}" >
                    <span>{{chair.row}} : {{chair.number}}</span>
                </div>
            </div>
    </div>
</div>