<div class="error-message text-danger" ng-message="required">This field is required.</div>
<div class="error-message text-danger" ng-message="minlength">This field is too short!</div>
<div class="error-message text-danger" ng-message="maxlength">This field is too long!</div>
<div class="error-message text-danger" ng-message="min">This number is less than minimum!</div>
<div class="error-message text-danger" ng-message="max">This number is bigger than maximum!</div>
<div class="error-message text-danger" ng-message="email">This is not a valid email address.</div>